<%- include('header') %>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<br>
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h3 class="display-6">Currículo Vitae</h3>
        </div>
        <h4>Nova experiência: <a href="/admin/experiencia/nova"><i class="far fa-plus-square"></i></a></h4>
        <ul>
            <% experiencias.forEach( experiencia => { %>
            <li>
                <%- experiencia.empresa %> |
                <a href="/admin/experiencia/delete/<%- experiencia.id %>"><i class="fas fa-trash"></i></a>
                <a href="/admin/experiencia/editar/<%- experiencia.id %>"><i class="fas fa-edit"></i></a>
            </li>
            <% }) %>
        </ul>
    </div>
</main>

<%- include('footer') %>