<%- include('header') %>


<div class="experiencia">
    <% experiencias.forEach( experiencia => { %>
    <div class="container">
        <div class="media">
            <img src="images/<%- experiencia.empresa %>.png" class="align-self-center mr-3"
                alt="imagem-<%- experiencia.empresa %>">
            <div class="media-body">
                <h4 class="mt-0"><%- experiencia.empresa %></h4>
                <p>Cargo: <%- experiencia.cargo %></p>
                <p class="mb-0"></p>
            </div>
        </div>
        <hr class="my-4">
        <p class="display-6 "><%- experiencia.tempoCargo %></p>
        <p class="lead"><%- experiencia.descricao %></p>
    </div>
    <hr class="my-4">
    <% }) %>
</div>


<%- include('footer') %>