<%- include('header') %>

<section class="cards">
    <% experiencias.forEach( experiencia => { %>
    <div class="card">
        <div class="card_image-container">
            <img src="images/<%- experiencia.empresa %>.png"
            alt=" imagem-<%- experiencia.empresa %>">
        </div>
        <div class="card_content">
            <h1><%- experiencia.empresa %></h1>
        </div>
        <div class="card_info">
            <h2>Cargo: <%- experiencia.cargo %></h2>
            <p id="item-group"><%- experiencia.tempoCargo %></p>
            <p><%- experiencia.descricao %></p>
        </div>
    </div>
    <% }) %>
</section>

<%- include('footer') %>