<%- include('header') %>

<link rel="stylesheet" href="styles/formacao.css">

<div class="card mb-3 container">
    <% formacoes.forEach( formacao => { %>
    <div class="card-body col-md-6 offset-md-3">
        <br>
        <img src="images/<%- formacao.escola %>.png" class="align-self-center mr-3" class="img-fluid"
            alt="Responsive image" alt="imagem-<%= formacao.escola %>">
        <h5 class="card-title"><%= formacao.escola %></h5>
        <p class="card-text"><%= formacao.curso %></p>
        <p class="card-text"><%= formacao.periodo %></p>
        <p class="card-text"><%= formacao.data %></p>
    </div>
    <hr class="my-4">
    <% }) %>
</div>

<%- include('footer') %>