<%- include('header') %>

<section class="cards">

    <% formacoes.forEach( formacao => { %>
    <div class="card">
        <div class="card_image-container">
            <img src="images/<%- formacao.escola %>.png"" alt=" Responsive image" alt="image-<%= formacao.escola %>">
        </div>
        <div class="card_content">
            <h1><%= formacao.escola %></h1>
        </div>
        <div class="card_info">
            <h2><%= formacao.curso %></h2>
            <p><%= formacao.periodo %></p>
            <p><%= formacao.data %></p>
        </div>
    </div>
    <% }) %>
    
</section>


<%- include('footer') %>